@font-face {
    font-family: OPPOsans;
    src: url(../fonts/OPPOSansBold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: OPPOsans;
    src: url(../fonts/OPPOSansHeavy.ttf);
    font-weight: bolder;
}
@font-face {
    font-family: OPPOsans;
    src: url(../fonts/OPPOSansMedium.ttf);
    font-weight: 400;
}
@font-face {
    font-family: OPPOsans;
    src: url(../fonts/OPPOSansRegular.ttf);
    font-weight: 300;
}
@font-face {
    font-family: OPPOsans;
    src: url(../fonts/OPPOSansLight.ttf);
    font-weight: 100;
}