.pledge-banner{
    margin-top: -90px;
    img{
        width: 100%;
        object-fit: contain;
        @media only screen and (max-width : $tablet){
            height: 300px;
            object-fit: cover;
        }
    }
}
.pledge-form{
    padding: $sec-padding;
    @media only screen and (max-width : $tablet){
        padding: 30px 0;
    }
    .pledge-flex{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        align-items: center;
        .pledge-form{
            width: 500px;
            background: $btn-primary-color;
            border-radius: $common-radius;
            padding: 22px;
            margin-top: -150px;
            @media only screen and (max-width : $tablet){
                width: 100%;
                margin-top: 0;
            }
            img{
                width: 100%;
                object-fit: contain;
                border-radius: $common-radius;
                display: block;
            }
            form{
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                margin-top: 20px;
                input,select{
                    width: calc(50% - 10px);
                    padding: 10px 0;
                    background: transparent;
                    border: 0;
                    border-bottom: 1px solid #fff;
                    color: #fff;
                    font-size: $font-base;
                    @media only screen and (max-width : $tablet){
                        width: 100%;
                    }
                    &::placeholder{
                        color: #fff;
                    }
                }
                label{
                    display: flex;
                    gap: 8px;
                    color: #fff;
                    font-size: $font-base;
                    align-items: flex-start;
                    input[type='checkbox']{
                        width: 16px;
                        flex-shrink: 0;
                        margin-top: 3px;
                    }
                }
                select{
                    option{
                        color: $text-black;
                    }
                }
                button.common-btn{
                    background: #fff;
                    color: $btn-primary-color;
                    cursor: pointer;
                }
            }
        }
        .pledge-form-content{
            width: calc(100% - 530px);
            padding-top: 10px;
            @media only screen and (max-width : $tablet){
                width: 100%;
                padding: 0;
            }
            .common-headings{
                width: 100%;
                text-align: left;
                .common-title{
                    span{
                        font-weight: 300;
                    }
                }
            }
        }

    }
}
.know-boxes{
    padding: $sec-padding;
    background: #EBEBEB;
    .commonbelow{
        width: 100%;
        margin-bottom: 0;
    }
    .know-box-container{
        display: flex;
        gap: 20px;
        margin-bottom: 40px;
        @media only screen and (max-width : $tablet){
            flex-wrap: wrap;
        }
        .know-box{
            flex: 0 0 calc(25% - 20px);
            padding: 20px;
            border-radius: $common-radius;
            text-align: center;
            display: flex;
            align-items: center;
            @media only screen and (max-width : $tablet){
                flex: calc(50% - 20px);
            }
            p{
                font-size: $font-24;
                color: #fff;
                font-weight: 300;
                @media only screen and (max-width : $tablet){
                    font-size: $font-18;
                }
                span{
                    font-size: $font-36;
                    display: block;
                    font-weight: bold;
                    @media only screen and (max-width : $tablet){
                        font-size: $font-22;
                    }
                }
            }
        }
    }
}
.steps{
    padding: $sec-padding;
    .pledge-title{
        text-align: center;
        width: 80%;
        margin: 0 auto 40px auto;
        @media only screen and (max-width : $mid-pc){
            width: 90%;
        }
        @media only screen and (max-width : $tablet){
            width: 100%;
        }
        p{
            font-size: $font-24;
            color: $text-black;
            line-height: 1.5;
            @media only screen and (max-width : $tablet){
                font-size: $font-18;
            }
            &.pledge-m-title{
                font-size: $font-32;
                font-weight: 600;
                margin: 0 auto 15px auto;
                @media only screen and (max-width : $tablet){
                    font-size: $font-22;
                }
            }
        }
    }
    .pledge-steps{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        .step-box{
            width: 80%;
            display: flex;
            gap: 30px;
            align-items: center;
            @media only screen and (max-width : $tablet){
                width: 100%;
                flex-wrap: wrap;
                gap: 15px;
            }
            &:nth-child(even){
                margin-left: 20%;
                @media only screen and (max-width : $tablet){
                    margin-left: 0%;
                }
            }
            .pledge-ste-text{
                display: flex;
                align-items: center;
                gap: 20px;
                @media only screen and (max-width : $tablet){
                    flex-wrap: wrap;
                    justify-content: flex-start;
                }
                .ct{
                    height: 66px;
                    width: 66px;
                    border-radius: 50%;
                    line-height: 66px;
                    font-size: $font-60;
                    font-weight: 800;
                    color: #fff;
                    background: $btn-primary-color;
                    flex-shrink: 0;
                    text-align: center;
                    @media only screen and (max-width : $tablet){
                        height: 40px;
                        width: 40px;
                        font-size: $font-20;
                        line-height: 40px;
                    }
                }
                p{
                    font-size: $font-20;
                    font-weight: bold;
                    color: $text-black;
                    line-height: 1.5;
                    @media only screen and (max-width : $mid-pc){
                        font-size: $font-base;
                    }
                }
            }
        }
    }
}